<table class="post_table">
    {% if rows %}
        <tr class="tr-header">
            <td class="td-header">Дата</td> 
            <td class="td-header"> Название 
                <input type="button" class="sort-btn" onclick="render_content(this.getAttribute('index'), this.id)" index="{{ page_index }}" id="title-up" value="▲">
                <input type="button" class="sort-btn" onclick="render_content(this.getAttribute('index'), this.id)" index="{{ page_index }}" id="title-down" value="▼">
            </td> 
            <td class="td-header">Количество
                <input type="button" class="sort-btn" onclick="render_content(this.getAttribute('index'), this.id)" index="{{ page_index }}" id="count-up" value="▲">
                <input type="button" class="sort-btn" onclick="render_content(this.getAttribute('index'), this.id)" index="{{ page_index }}" id="count-down" value="▼">
            </td>
            <td class="td-header">Расстояние
                <input type="button" class="sort-btn" onclick="render_content(this.getAttribute('index'), this.id)" index="{{ page_index }}" id="distance-up" value="▲">
                <input type="button" class="sort-btn" onclick="render_content(this.getAttribute('index'), this.id)" index="{{ page_index }}" id="distance-down" value="▼">
            </td>
        </tr>
        {% for row in rows %}
            <tr class="tr-style">
                <td class="td-style"> {{ row.date.strftime('%Y-%m-%d') }} </td>
                <td class="td-style"> {{ row.title }} </td>
                <td class="td-style"> {{ row.count }} </td>
                <td class="td-style"> {{ row.distance }} </td>
            </tr>
        {% endfor %}
    {% else %}
        <h2>Данные не найдены!</h2>
        <h3>Попробуйте другую страницу или добавьте новые посты...</h3>
    {% endif %}
    
    {% if bad_filter %}
        <script>alert('Переданы неверные параметры для фильтрации')</script>
    {% endif %}
</table>